/* Define standard variables and values for website */
$bgcolor: white;
$textcolor: darkblue;
$fontsize: 18px;

*, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block
}